@namespace epub "http://www.idpf.org/2007/ops";
/* ------------------------------------------------------------- */
/*             elements without display properties               */
/* ------------------------------------------------------------- */

html {
  display:block;
  width: 100%;
}

head, head * {
  display: none
}



/* ------------------------------------------------------------- */
/*                  base properties of whole doc                 */
/* ------------------------------------------------------------- */

body {
  display: block;
  max-width: 42em;
  height: 90%;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  font-family: "ＭＳ 明朝", "MS Mincho", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", arial, verdana, sans-serif;
  font-size: 1em;
  line-height: 1.8em;
}

/* ------------------------------------------------------------- */
/*                          headings                             */
/* ------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.7em;
  margin-top: 1.5em
}
h2 {
  font-size: 1.5em;
  margin-top: 1.2em
}
h3 {
  font-size: 1.4em;
  margin-top: 1.0em
}
h4 {
  font-size: 1.3em;
  margin-top: 1.0em
}
h5 {
  font-size: 1.2em;
  margin-top: 1.0em
}
h6 {
  font-size: 1.0em;
  margin-top: 1.0em
}

/* ------------------------------------------------------------- */
/*                       pagenum, linenum                        */
/* ------------------------------------------------------------- */

pagenum {
  display: inline;
  color: rgb(30,30,30);
  padding: 0.2em 0.2em 0.2em 1em;
  border: 1px solid rgb(200,200,250);
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

level > pagenum, level1 > pagenum, level2 > pagenum, level3 > pagenum, level4 > pagenum, level5 > pagenum, level6 > pagenum {
  display: block;
}

linenum {
  display: inline;
}

linenum:after {
  content: " "
}

/* ------------------------------------------------------------- */
/*                       general block                           */
/* ------------------------------------------------------------- */

div {
  display: block;
}
.indent_1 { margin-left: 1em }
.indent_2 { margin-left: 2em }
.indent_3 { margin-left: 3em }
.indent_4 { margin-left: 4em }
.indent_5 { margin-left: 5em }
.indent_6 { margin-left: 6em }
.indent_7 { margin-left: 7em }
.indent_8 { margin-left: 8em }
.indent_9 { margin-left: 9em }
.indent_x { text-align: right }
.indent_x1 {
  margin-right: 1em;
  text-align: right;
}
.indent_x2 {
  margin-right: 2em;
  text-align: right;
}
.indent_x3 {
  margin-right: 3em;
  text-align: right;
}
.indent_x4 {
  margin-right: 4em;
  text-align: right;
}
.indent_x5 {
  margin-right: 5em;
  text-align: right;
}
.indent_x6 {
  margin-right: 6em;
  text-align: right;
}
.indent_x7 {
  margin-right: 7em;
  text-align: right;
}
.indent_x8 {
  margin-right: 8em;
  text-align: right;
}
.indent_x9 {
  margin-right: 9em;
  text-align: right;
}
.indent_-1 {
  margin-left: 3em;
  text-indent: -1em;
}

p {
  display: block;
  margin-top: 0.7em;
  text-indent: 1em;
}

aside {
  display:block;
  margin:  1.2em 1em 1.2em 1em;
  padding: 0.5em 1em 0.5em 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

prodnote {
  display: block;
  padding: 0.2em;
  margin: 0.3em;
  border: 1px solid black;
}

sidebar {
  display: block;
  padding: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid rgb(0,0,0);
  background-color: rgb(250,250,250);
}

div sidebar, prodnote sidebar, sidebar sidebar, note sidebar, annotation sidebar, blockquote sidebar, dd sidebar, li sidebar, th sidebar, td sidebar {
  float: right;
  width: inherit;
  clear: both;
  margin-left: 1em;
  margin-right: 1em;
}

address {
  display: block;
  margin-top:1em;
  margin-bottom:1em;
}

aside[epub|type="note"] {
  display:block;
  margin:  1.2em 1em 1.2em 1em;
  padding: 0.5em 1em 0.5em 1em;
/*  border-top: 1px solid black;
  border-bottom: 1px solid black; */
  border: 1px solid black;
}

blockquote {
  display: block;
  margin-left: 2em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
blockquote.border {
  display: block;
  margin-left: 2em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  border: 1px solid black;
}

line {
  display: block;
  margin: 0em;
}

poem {
  display: block;
  margin-left: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

linegroup {
  display: block;
  margin-top: 0.6em;
}

dateline, byline {
  display: block;
}

epigraph {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 3em;
  font-style: italic;
}

/* ------------------------------------------------------------- */
/*                      general inlines                          */
/* ------------------------------------------------------------- */

a {
  display: inline;
  text-decoration: underline;
  color: rgb(0,0,255);
}

bdo {
  display: inline;
}

em {
/*  display: inline; */
  font-style: italic;
}

strong {
  display: inline;
  font-weight: bold;
}

kbd {
  display: inline;
  font-size: 90%;
  background: rgb(0,0,0);
  color: rgb(255,255,255);
  padding: 0.2em;
}

span {
  display: inline;
}

sub {
  display: inline;
  vertical-align : sub;
  font-size : 90%;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

sup {
  display: inline;
  vertical-align : super;
  font-size : 90%;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

abbr, acronym {
  display: inline;
  border-bottom: 1px dotted gray;
}

dfn {
  display: inline;
  border-bottom: 1px dashed black;
}

code {
  display: inline;
  font-family: courier, monospace;
}

samp {
  display: inline;
}

cite {
  display: inline;
}

cite title {
  display: inline;
  border-bottom: 1px solid gray
}

cite author {
  display: inline;
}

br {
  display:block;
}

q {
  display: inline;
  font-style: italic;
}

a[epub|type="noteref"], a[epub|type="annoref"], a[rel="note"] {
  display: inline;
  font-size: 0.6em;
  vertical-align: super;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border: 1px solid rgb(210,210,210);
}

sent {
  display:inline;
  margin:0em;
}

w {
  display:inline;
  margin:0em;
}


/* ------------------------------------------------------------- */
/*                      list.ul,list.ol                          */
/*                                                               */
/* <!ELEMENT list                                                */
/* Contains:                                                     */
/* (hd | prodnote | li | pagenum)+                               */
/*                                                               */
/* type (ol | ul) #IMPLIED                                       */
/* enum (1 | a | U | i | X) #IMPLIED                             */
/* ------------------------------------------------------------- */

list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1.89em;
  margin-bottom: 1.89em;
  margin-left: 0em;
  margin-right: 0em;
  padding-left: 1em;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1.89em;
  margin-bottom: 1.89em;
  margin-left: 0em;
  margin-right: 0em;
  padding-left: 1em;
}

li {
  display: list-item;
  list-style-position: outside;
}

lic {
  display: inline;
}

lic + lic {
  margin-left: 1em;
}

list[type="ol"][enum="1"] {
  list-style-type: decimal;
}

list[type="ol"][enum="a"] {
  list-style-type: lower-alpha;
}

list[type="ol"][enum="A"] {
  list-style-type: upper-alpha;
}

list[type="ol"][enum="i"] {
  list-style-type: lower-roman;
}

list[type="ol"][enum="I"] {
  list-style-type: upper-roman;
}

list[type="ul"] {
  list-style-type: disc;
}

list[type="pl"] {
  list-style-type: none;
}

ul ul,
ol ul {
  list-style-type: circle;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
  list-style-type: square;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* ------------------------------------------------------------- */
/*                      definition list                          */
/* ------------------------------------------------------------- */

dl, dt, dd {
  display: block;
}

dt {
  font-weight: bold;
  margin-top: 0.4em;
}

dd {
  margin-left: 2em;
}


/* ------------------------------------------------------------- */
/*                          tables                               */
/* ------------------------------------------------------------- */


table {
  display: table;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 0;
  /* -moz-box-sizing: border-box; */
  text-indent: 0;
  empty-cells: show;
}

table > caption {
  display: table-caption;
  text-align: center;
  /* -moz-box-sizing: border-box; */
}

tr {
  display: table-row;
  vertical-align: inherit;
}

col {
  display: table-column;
}

colgroup {
  display: table-column-group;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
}

td {
  display: table-cell;
  border: 1px solid gray;
  vertical-align: inherit;
  text-align: inherit;
  padding: 0.5em;
}

th {
  display: table-cell;
  border: 1px solid gray;
  vertical-align: inherit;
  font-weight: bold;
  padding: 2px;
}


/* ------------------------------------------------------------- */
/*                          images                               */
/* ------------------------------------------------------------- */

figure {
	display: table;
	max-width: 90%;
	margin-top: 1.89em;
	margin-bottom: 1.89em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

figure p {
	font-size: 0.78em;
	line-height: 1.6;
	text-indent: 0em;
}

figure img {
	display: inline;
	max-width: 80%;
	max-height: 80%;
}

figcaption {
	display: table-caption;
	caption-side: bottom;
	margin-top: 0.26em;
	font-family: "ＭＳ ゴシック", "MS Gothic", "ヒラギノ角ゴ ProN W3", "HiraKakuProN-W3", sans-serif, serif;
	font-size: 0.89em;
	line-height: 1.6;
	text-align: center;
}


/* ------------------------------------------------------------- */
/*                       span classes                            */
/* ------------------------------------------------------------- */
/* 
span[class="underline"] {
  text-decoration: underline;
}
 
/* single and double strikethrough are the same for lack of a CSS property for double strikethrough */
/*
span[class="strikethrough"], span[class="double-strikethrough"] {
  text-decoration: line-through;
}

span[class="small-caps"] {
  font-variant: small-caps;
} 

/*  */
/*
ruby {
}

rt {
 font-size: 0.5em;
}
*/

/* 圏点 ビュレット/ゴマ点 */
span.emphasis_dot,
em.emphasis_dot,
strong.emphasis_dot {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: filled;
	-webkit-text-emphasis-style: filled;
	-moz-text-emphasis-style: filled;
	-o-text-emphasis-style: filled;
	-ms-text-emphasis-style: filled;
	-epub-text-emphasis-style: filled;
}
/* 圏点 ビュレット */
span.bullet,
em.bullet,
strong.bullet {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: filled dot;
	-webkit-text-emphasis-style: filled dot;
	-moz-text-emphasis-style: filled dot;
	-o-text-emphasis-style: filled dot;
	-ms-text-emphasis-style: filled dot;
	-epub-text-emphasis-style: filled dot;
}
/* 圏点 白ビュレット */
span.white_bullet,
em.white_bullet,
strong.white_bullet {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: open dot;
	-webkit-text-emphasis-style: open dot;
	-moz-text-emphasis-style: open dot;
	-o-text-emphasis-style: open dot;
	-ms-text-emphasis-style: open dot;
	-epub-text-emphasis-style: open dot;
}
/* 圏点 黒マル */
span.black_circle,
em.black_circle,
strong.black_circle {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: filled circle;
	-webkit-text-emphasis-style: filled circle;
	-moz-text-emphasis-style: filled circle;
	-o-text-emphasis-style: filled circle;
	-ms-text-emphasis-style: filled circle;
	-epub-text-emphasis-style: filled circle;
}
/* 圏点 白マル */
span.white_circle,
em.white_circle,
strong.white_circle {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: open circle;
	-webkit-text-emphasis-style: open circle;
	-moz-text-emphasis-style: open circle;
	-o-text-emphasis-style: open circle;
	-ms-text-emphasis-style: open circle;
	-epub-text-emphasis-style: open circle;
}
/* 圏点 蛇の目 */
span.fisheye,
em.fisheye,
strong.fisheye {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: filled double-circle;
	-webkit-text-emphasis-style: filled double-circle;
	-moz-text-emphasis-style: filled double-circle;
	-o-text-emphasis-style: filled double-circle;
	-ms-text-emphasis-style: filled double-circle;
	-epub-text-emphasis-style: filled double-circle;
}
/* 圏点 二重丸 */
span.bullseye,
em.bullseye,
strong.bullseye {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: open double-circle;
	-webkit-text-emphasis-style: open double-circle;
	-moz-text-emphasis-style: open double-circle;
	-o-text-emphasis-style: open double-circle;
	-ms-text-emphasis-style: open double-circle;
	-epub-text-emphasis-style: open double-circle;
}
/* 圏点 黒三角 */
span.black_up-pointing_triangle,
em.black_up-pointing_triangle,
strong.black_up-pointing_triangle {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: filled triangle;
	-webkit-text-emphasis-style: filled triangle;
	-moz-text-emphasis-style: filled triangle;
	-o-text-emphasis-style: filled triangle;
	-ms-text-emphasis-style: filled triangle;
	-epub-text-emphasis-style: filled triangle;
}
/* 圏点 白三角 */
span.white_up-pointing_triangle,
em.white_up-pointing_triangle,
strong.white_up-pointing_triangle {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: open triangle;
	-webkit-text-emphasis-style: open triangle;
	-moz-text-emphasis-style: open triangle;
	-o-text-emphasis-style: open triangle;
	-ms-text-emphasis-style: open triangle;
	-epub-text-emphasis-style: open triangle;
}
/* 圏点 ゴマ点 */
span.sesame_dot,
em.sesame_dot,
strong.sesame_dot {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: filled sesame;
	-webkit-text-emphasis-style: filled sesame;
	-moz-text-emphasis-style: filled sesame;
	-o-text-emphasis-style: filled sesame;
	-ms-text-emphasis-style: filled sesame;
	-epub-text-emphasis-style: filled sesame;
}
/* 圏点 白ゴマ点 */
span.white_sesame_dot,
em.white_sesame_dot,
strong.white_sesame_dot {
	font-style: normal;
	font-weight: normal;
	text-emphasis-style: open sesame;
	-webkit-text-emphasis-style: open sesame;
	-moz-text-emphasis-style: open sesame;
	-o-text-emphasis-style: open sesame;
	-ms-text-emphasis-style: open sesame;
	-epub-text-emphasis-style: open sesame;
}
/* 傍線 */
span.line_solid,
em.line_solid,
strong.line_solid {
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	/* text-decoration-style: solid;
}
/* 二重傍線 */
span.line_double,
em.line_double,
strong.line_double {
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	/* text-decoration-style: double;
}
/* 点線 */
span.line_dotted,
em.line_dotted,
strong.line_dotted {
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	/* text-decoration-style: dotted;
}
/* 破線 */
span.line_dashed,
em.line_dashed,
strong.line_dashed {
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	/* text-decoration-style: dashed;
}
/* 波線 */
span.line_wave,
em.line_wave,
strong.line_wave {
	font-style: normal;
	font-weight: normal;
	text-decoration: underline;
	/* text-decoration-style: wave;
}


/*----------------------------------------------------------
ナビゲーション
----------------------------------------------------------*/
/*ナビゲーション  リスト */
nav ol {
	margin-left: 1em;
	margin-right: 1em;
	list-style-type: none;
}


/* 第1レベル */
nav ol li {
	margin-top: 0.26em;
	margin-bottom: 0.26em;
	font-size: 1.78em;
	line-height: 1.6;
}

nav ol li ol {
	font-size: 0.56em;
}

/* 第2レベル */
nav ol li ol li {
	margin-top: 0.9em;
	margin-bottom: 0.9em;
	font-size: 1.11em;
	line-height: 1.6;
}

nav ol li ol li ol {
	font-size: 0.9em;
}

/* 第3レベル */
nav ol li ol li ol li {
	margin-top: 0.62em;
	margin-bottom: 0.62em;
	font-size: 1em;
	line-height: 1.6;
}

nav ol li ol li ol il ol {
	font-size: 1em;
}

/* 第4レベル */
nav ol li ol li ol li ol li  {
	margin-top: 0.26em;
	margin-bottom: 0.26em;
	font-size: 0.89em;
	line-height: 1.6;
}

nav ol li ol li ol il ol li ol {
	font-size: 1.12em;
}

/* 第5レベル */
nav ol li ol li ol li ol li ol li {
	margin-top: 0.41em;
	margin-bottom: 0.41em;
	font-size: 0.78em;
	line-height: 1.6;
}

nav ol li ol li ol il ol li ol li ol {
	font-size: 1.28em;
}

/* 第6レベル */
nav ol li ol li ol li ol li ol li ol li {
	margin-top: 0.41em;
	margin-bottom: 0.41em;
	font-size: 0.78em;
	line-height: 1.6;
}


/* 折り返し用 */
nav ol li {
	padding-left: 1em;
	text-indent: -1em;
}
nav ol li ol {
 	margin-top: 0;
 	margin-bottom: 0;
	padding-left: 0;
}

/*----------------------------------------------------------
ページ枠
----------------------------------------------------------*/
div.page_box {
	display: table;
	width: 100%;
	height: 100%;
	word-break: break-all;
	-epub-word-break: break-all;
}
div.page_container {
	display: table-cell;
	vertical-align: middle;
}

